Minimize=0
Secret=secret
AuthPort=1812
AccountPort=1813
OmPort=1515
Log=7
OdbcName=WinRadius
OdbcUser=tbUsers
OdbcLogs=tbLogs
OdbcVoIP=tbVoIP
SaveVoIP2Db=0
OdbcRefresh=0
FeeTimePrice1=3.00
FeeTimePrice2=4.80
FeeTimeUnit1=60
FeeTimeUnit2=6
FeeTrafficPrice1=1.00
FeeTrafficPrice2=1.00
FeeTrafficUnit1=1000
FeeTrafficUnit2=1000
FeeTime=
BackColor=0
FrontColor=13158655
UpdateTime=2
MaxKbps=50
AuthBy=UserName / Password
IncClass=
IncConnectInfo=
IncServType=0
IncExtMsgAuth=0
VoIPSubscrbr=Coin
VoIPLeg23=3
VoIPSmallest=0
IpPool=
VoIPCause=1
IncFramedProtocol=0
IncFramedIpAddr=0
IdleTimeOut=0
AccessIsStart=0
Deposit=0
CheckCallingId=0
RejectConcurrent=0
AddrAsFrame=0
ApiEnable=0
ApiIp=127.0.0.1
ApiPort=3333
InterimInterval=0
RecordsetType=dynaset
ApplyDiscount2Time=0
ApplyDiscount2Traffic=0
DiscountRates=0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
CalledInStart=0
LicenseCode=0
AddrAsFromNas=0
IpFromAddr=0
FeeFirstDuration=0
FeeFirstAs=0
